[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "external/parallel-rdp-standalone"]
	path = external/parallel-rdp-standalone
	url = https://github.com/Themaister/parallel-rdp-standalone/
[submodule "src/parallel-rdp-standalone"]
	path = src/parallel-rdp-standalone
	url = https://github.com/Themaister/parallel-rdp-standalone
